
*{
    padding: 0px;
    box-sizing: border-box;
 
}

@media only screen and (max-width: 601px){
    body{
        font-size: 20px;
}
}

h1{

  font-family: "Pinyon Script", cursive;
  font-weight: 100;
    font-size: 80px

}

h3{
   font-family: "Lora", serif;
  font-weight:200;
    font-size: 40px
}

body{
    
    padding: 30px;
    margin: 50px;
    background-image: url(../imagenes/Fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;   
}

body:before{
    
    position: fixed;
    content: "";
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: rgba(230,235,252);
    opacity: 0.25;
    z-index: -1;
}

.cabecera{
    padding-bottom: 80px;
    font-size: 20px;
    text-align: center;
    display:block;
}
    

.decoracion img{
    width: 300px;
    padding: 0px;
    margin: -10px;
    margin-left: -15px       
}
    
.iglesia img{
    width: 600px;
    padding: 10px;
    border-radius: 70px;
 } 

.boton img{
    width: 140px;
    border-radius: 25px;
}

.salon img{
    width: 600px;
    padding: 10px;
    border-radius: 70px; 
    font-size: 30px;
    text-align: center;
}

.boton2 img{
    width: 140px;
    border-radius: 25px;
    padding: 0px;
 }   

.misxv{
    text-align:center;
    font-size: 20px;
 }

.lucero{
    text-align: center;
    font-size: 90px;
    margin: 10px;
    color: #997C28;
 }

.fecha{
    text-align: center;
    font-size: 20px;
}   

.teinvito{
    font-size: 30px;
    color:black;
   
 } 
    
.iglesia2{
    text-align:center;
    font-size: 30px;
 }   

.siguiente{
    text-align: center;
    font-size: 40px;
    border-style: ridge;
    border-color: #997C28;
    padding: 20px;
    margin: -50px;
    border-width: medium;
    font-style:
}

.imagen2 img{
    width: 400px;
    padding: 40px;
    margin: 10px;
        
}

.gracias{
    font-size: 30px;
    text-align: center;
}

.xv img{
    width: 1200px;
    padding: 40px;
    margin: 10px;
    
}    
   
    

    

    
    
    


        
        
